.container {
  display: flex;
  width: 100wh;
  height: 100vh;
  background: #041325 !important;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;

}

.submission-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  justify-content: center;
  height: 70%;
}

.congrats-text {
  font-size: 24px;
  margin-bottom: 20px;
  color: #474444;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;

}

.logo {
  width: 40%;
  height: 60%;
  margin-bottom: 20px;
}

.score-text {
  font-size: 20px;
  color: #333;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;

}

.score-text .green {
  color: #60B84B;
}

.poll-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  justify-content: center;
  height: 70%;
}

.poll-container p {
  font-family: Poppins;
  font-size: 100px;
  font-weight: 700;
  line-height: 130px;
  text-align: center;
  color: #474444;
  padding: 30px;
}